.weather-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2e7b8b;
    /*padding: 20px;*/
    gap: 25px;
    color: white;
    width: 40%;
    height:50%;
    justify-content: center;
    border-radius: 20px;
    /*height: 100%; !* Take the full height of the App *!*/
    /*align-self: stretch; !* Ensure the container stretches *!*/
}

.hourly-forecast-container {

    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 30px 0 30px;
    text-align: center
}

@media screen and (max-width: 800px){
    .weather-display {
        width: 70%;
        height:60%;
        gap: 13px;
    }

    .hourly-forecast-container {
        padding: 5px 15px 10px 15px;
    }
}

