.geo-coords-container {
    /*font-family: Arial, sans-serif;*/
    font-size: 14px;
    margin-top:auto;
    /*color: #666;*/
}

.geo-coords {
    display: flex;
    justify-content: flex-start;  /* Align items to the start */
    gap: 20px;  /* Add a small gap between items */

}

.geo-coord {
    color: #888;
}

.last-updated {
    color: #888;
}
