@import url('https://fonts.googleapis.com/css?family=Heebo');
/*.App {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
/*  height: 100vh;*/
/*  padding: 20px;*/
/*  font-family: Arial, sans-serif;*/
/*}*/

*{box-sizing:border-box}
html, body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#root{
  background-color: #e5ecec;
}

.App {
  padding: 20px 40px;
  font-family: 'Heebo', sans-serif;
  /*line-height: 1.5;*/
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center horizontally */
  background-color: inherit;
  width: 100%;
  height: 100vh;
}
.left-container .left-side-title{
  word-break: break-word;
  width: 300px;
  color: #888;
  font-size: 32px;
  font-weight: 400;
}

.left-container {
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  height: 100%;
  width: 100%;
  /*margin:20px;  !*box-sizing: border-box; !* Ensure padding is included in height/width calculations *!*!*/
}

.inner-part-of-left-container-without-logo-container{
  /*margin-left: 50px;*/
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}

.title-input-container{
  display: flex;
  flex-direction: column;
  gap: 10px;

}
.logo {
  margin: 0;
  height: 100px;
  width: 100px;
}

.right-container {
  display: flex;
  background-color: #e0e0e0;
  width: 90%;
  height: 90%;
  flex-direction: column;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  /*padding: 20px;*/
}

.loading-message, .error-message {
  color: red;
  font-size: 16px;
}

@media screen and (max-width: 800px) {
  .App{
    flex-direction: column;
    height: 100%
  }

  .left-container .left-side-title{
    word-break: normal;
    width: 100%;


  }


}